* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* página de texto */
.contact-overlay {
  background-color: rgba(0, 0, 0, 0.664);
  margin-top: 150px;
  margin-bottom: 150px;
  border-radius: 1rem;
}

.course-page {
  background: url("/public/media/Dioney_Celebrante.jpg") no-repeat center center fixed;
  height: auto;
  background-size: cover;
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.carousel-caption h5 {
  color: white;
}

.carousel-caption .slide-divider {
  display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 1000px;
  /* padding: 10px; */
  width: 60px;
  height: 60px;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  padding: 10px;
}

.carousel-control-prev-icon:before {
  content: "";
  display: none;
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  /* transform: rotate(135deg); */
}

.carousel-control-next-icon:before {
  content: "";
  display: none;
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  /* transform: rotate(-45deg); */
}

ol {
  list-style: none;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

/* navbar */
.nav {
  background: url("/public/media/areias.png") no-repeat center center;
  padding: 5%;
  margin-bottom: 3%;
  background-size: cover;
}

ul {
  list-style: none;
}

.text-gold {
  color: #ce9e60;
}

.text-golden {
  color: #f3ad45;
}

.text-gold-slide {
  color: #f3ad45 !important;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

/* btn-custom */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-custom,
.btn-custom:focus {
  font-size: 26px;
  font-weight: bold;
  padding: 20px 40px;
  background-color: #e7a23b;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover,
.btn-custom:visited,
.btn-custom:active {
  background-color: #238533 !important;
  color: #fff !important;
}

.btn-custom:active {
  background-color: #2ead43 !important;
  color: #fff !important;
}

.btnc2 {
  background-color: #2ead43;
  font-size: 18px;
  padding: 12px 30px;
}

.accordion-header .accordion-button {
  color: #000 !important;
  font-weight: bold;
}

.accordion-button {
  background-color: #efefef;
}

.accordion-button:not(.collapsed) {
  background-color: #efefef;
  box-shadow: none;
}

.accordion-button {
  box-shadow: none !important;
}

.bc3,
.bc3:hover {
  font-size: 20px;
  padding: 6px 45px;
  width: auto !important;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.bc4,
.bc4:hover {
  font-weight: bold;
  font-size: 22px;
  padding: 15px 35px;
  background-color: #e7a23b;
  color: #fff;
  border: none;
}

.bc4:hover {
  background-color: #2ead43;
  color: #fff;
}

/* btn media queries */
@media (max-width: 768px) {
  .btn-custom {
    font-size: 20px;
    padding: 15px 30px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 1000px;
    /* padding: 10px; */
    width: 45px;
    height: 45px;
  }

  .text-gold-slide {
    font-size: 16px;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .btn-custom {
    font-size: 18px;
    padding: 12px 24px;
  }
}

/* icons */

.about-icon {
  width: 15%;
}

@media (max-width: 768px) {
  .about-icon {
    width: 20%;
  }
}

@media (max-width: 576px) {
  .about-icon {
    width: 20%;
  }
}

/* footer */

footer {
  position: relative;
  background-color: #121418;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  padding-top: 40px;
  color: #ce9e60;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.footer-content h3 {
  color: #ce9e60;
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer-content p {
  margin: 5px;
}

.footer-bottom {
  background: #000;
  padding: 10px;
  text-align: center;
  color: #ddd
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
}

.footer-bottom p a {
  color: #e99f3e;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #f3ad45;
  padding: 5px;
}

.socials a {
  font-size: 24px;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover {
  color: #e99f3e;
}

.text-success {
  color: #2ead43 !important;
}

.card-celebrante h4 {
  font-weight: normal;
}