.video-container {
  position: relative;
  padding-bottom: 60%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* página de texto */
.contact-overlay {
  background-color: rgba(0, 0, 0, 0.664);
  margin-top: 150px;
  margin-bottom: 150px;
  border-radius: 1rem;
}

.course-page {
  background: url("public/media/Dioney_Celebrante.jpg") no-repeat center center
    fixed;
  height: auto;
  background-size: cover;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

/* navbar */
.nav {
  background: url("public/media/areias.png") no-repeat center center;
  padding: 5%;
  margin-bottom: 3%;
  background-size: cover;
}
ul {
  list-style: none;
}
.text-gold {
  color: #ce8c36;
}

/* btn-custom */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-custom {
  font-size: 24px;
  padding: 20px 40px;
  background-color: #e9c67c;
  color: #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #f3ce86;
}

/* btn media queries */
@media (max-width: 768px) {
  .btn-custom {
    font-size: 20px;
    padding: 15px 30px;
  }
}

@media (max-width: 576px) {
  .btn-custom {
    font-size: 18px;
    padding: 12px 24px;
  }
}
